
<div id="list-container">

    <!-- 文章分类 -->
    <c-category :show-oading="showLoading" :type="type" :cates="cates"></c-category>
    
    <!-- 文章列表 -->
    <ul class="article-list top-notes">
        <li v-for="art in articles" :class="{'have-img':art.wrap_img}">
            <!-- 文章封面 -->
            <a v-link="{name:'article',params:{article_id:art.article_id}}" v-if="art.wrap_img" class="wrap-img" >
                <img :src = "art.wrap_img" alt="300">
            </a>
            <div>
                <p class="list-top">
                    <a class="author-name blue-link" href="#users/{{ art.author_id }}">
                        {{ art.author }}
                    </a>
                    <em>
                        ·
                    </em>
                    <span class="time">
                        {{ art.timestamp | datetime }}
                    </span>
                </p>
                <h4 class="title">
                    <a v-link="{name:'article',params:{article_id:art.article_id}}" >
                        {{ art.title }}
                    </a>
                </h4>
                <a class="avatar maleskine-author" href="#users/{{ art.author_id }}">
                    <img :src = "art.avatar">
                </a>
                <div class="list-footer">
                    <a v-link="{name:'article',params:{article_id:art.article_id}}" >
                        阅读 {{ art.read }}
                    </a>
                    <a v-link="{name:'article',params:{article_id:art.article_id}}" >
                        · 评论 {{ art.comment }}
                    </a>
                    · 喜欢 {{ art.like }}
                </div>
            </div>
        </li>
    </ul>
</div>